<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="yandex-verification" content="0fb778fabaabfed5" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="English">
    <meta name="description" content="@ViewBag.MetaDescription">
    <title>@ViewBag.Title</title>


    <!-- Fonts -->
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/business-casual.css" rel="stylesheet" />

    <link rel="icon" href="~/Content/img/favicon.ico" type="image/ico" />
    <link rel="shortcut icon" href="~/Content/img/favicon.ico" type="image/ico" />

    @*<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>

    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jQuery")
    @Scripts.Render("~/bundles/popper")*@
    @*@Scripts.Render("~/bundles/modernizr")*@


</head>

<body>
    <div class="brand"> Welcome to bCloudPartners  <div id="google_translate_element"></div> </div>

    <!-- Navigation -->
    <nav class="navbar  nav-fill w:100%" role="navigation">
        <div class="container">

            <div class="btn-toolbar">
                <div class="dropdown btn-group btn-bg-secondary">
                    <button class="btn-lg btn-secondary dropdown-toggle " type="button" id="dropdownMenuButtonHome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Home
                    </button>
                    <div class="dropdown-menu btn-lg btn-secondary bg-secondary" aria-labelledby="dropdownMenuButton">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                        <br />
                        @Html.ActionLink("About", "About", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                        <br />
                        @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                        <br />
                        @Html.ActionLink("Careers", "Careers", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                    </div>
                </div>

                <div class="dropdown btn-group  btn-bg-secondary">
                    <button class="btn-group btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonCommunity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Community
                    </button>
                    <div class="dropdown-menu btn-lg btn-secondary bg-secondary" aria-labelledby="dropdownMenuButton">
                        @Html.ActionLink("Our Blog", "Blog", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                        <br />
                        @Html.ActionLink("Our Groups", "Groups", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                    </div>
                </div>

                <div class="dropdown btn-group  bg-secondary">
                    <button class="btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonEthereum" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Blockchain Basics
                    </button>
                    <div class="dropdown-menu btn-lg btn-secondary bg-secondary" aria-labelledby="dropdownMenuButton">
                        @Html.ActionLink("Introduction to Blockchain", "BlockchainIntro", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                        <br />
                        @Html.ActionLink("Blockchain History", "BlockchainHistory", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                        <br />
                        @Html.ActionLink("What are some of the use cases for blockchain ?", "BlockchainUseCase", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                    </div>
                </div>

                <div class="dropdown btn-group  bg-secondary">
                    <button class="btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonEthereum" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ethereum
                    </button>
                    <div class="dropdown-menu btn-lg btn-secondary bg-secondary" aria-labelledby="dropdownMenuButton">
                        @Html.ActionLink("Theory", "Ethereum", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                        <br />
                        @Html.ActionLink("Smart Contracts", "SmartContracts", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                    </div>
                </div>

                <div class="dropdown btn-group btn-bg-secondary">
                    <button class="btn-group btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonHyperledger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hyperledger
                    </button>
                    <div class="dropdown-menu btn-lg btn-secondary bg-secondary" aria-labelledby="dropdownMenuButton">
                        @Html.ActionLink("Theory", "Hyperledger", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                        <br />
                        @Html.ActionLink("Chain Code", "ChainCode", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                    </div>
                </div>
                <div class="dropdown btn-group btn-bg-secondary">
                    <button class="btn-group btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuBlockCloud" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Blockchain in the Cloud
                    </button>
                    <div class="dropdown-menu btn-lg btn-secondary bg-secondary" aria-labelledby="dropdownMenuButton">
                        @Html.ActionLink("Ethereum", "EthereumCloud", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                        <br />
                        @Html.ActionLink("Hyperledger", "HyperledgerCloud", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                    </div>
                </div>
                @*<div class="dropdown btn-group  btn-bg-secondary">
                        <button class="btn-group btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonTipsTricks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Useful Links and Tips
                        </button>
                        <div class="dropdown-menu btn-lg btn-secondary bg-secondary" aria-labelledby="dropdownMenuButton">
                            @Html.ActionLink("Developer Tools", "DeveloperTools", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                            <br />
                            @Html.ActionLink("Education", "Education", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                            <br />
                            @Html.ActionLink("Forums", "Forums", "Home", null, new { @class = "btn btn-lg btn-secondary" })
                        </div>
                    </div>*@

            </div>

        </div>
    </nav>

    @RenderBody()


    <div>
        <footer>
            Copyright &copy; bCloudPartners 2017- 2018
        </footer>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>

    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    @*@RenderSection("scripts", required: false)*@

</body>

</html>
